
#pending-users-table_wrapper select, #show-entries, #position-table_wrapper select {
	background-color: #fff;
    border: 1px solid #e4e7ea;
    border-radius: 4px;
    box-shadow: none;
    color: #565656;
    height: 38px;
    max-width: 100%;
    padding: 7px 12px;
    text-align: center;
    font-size: 14px !important;
}

#pending-users-table_wrapper input, #table-search, #position-table_wrapper input {
	background-color: #fff;
    border: 1px solid #e4e7ea;
    border-radius: 4px;
    box-shadow: none;
    color: #565656;
    height: 38px;
    max-width: 100%;
    padding: 7px 12px;
    text-align: center;
}

.myadmin-alert i {
	font-size: 20px !important;
}

.list-group-item {
	padding: 0 0 5px 0;
	background-color: transparent !important;
	border: none;
}

.label.Participant{
	background-color: #4caf50; 
}

.label.Facilitator{
	background-color: #ff9800; 
}

.label.Supervisor{
	background-color: #f44336; 
}

.notification-create {
    border: 1px solid #1e88e5;
    padding: 10px;
}

.notification-create i {
	vertical-align: middle;
	font-size: 20px;
}    

.help-block i {
	vertical-align: middle;
}

.tabs-style-iconbox nav ul li a {
	padding: 12px 0 !important;
}

.sttabs {
	border-radius: 3px;
}

.myadmin-alert i {
	vertical-align: middle;
}